-var levelNumToString = function(n) {var result; if(n>=0 && n<26){result = "Beginner";}else if(n>=26 && n<51){result="Proficient";} else if(n>=51 && n<76){result = "Intermediate";}else{result = "Advanced";} return result;}
mixin renderSkillBar(item)
    .row.skillbar
        .col-sm-2
            h4.mono-font.hidden-phone.skillbar-title!= item.title
        .col-lg.float-left
            .progress
                .progress-bar(style="width: "+item.level+"%;")!=levelNumToString(item.level) +" (" +item.years + ")"
        .col-sm-2