commands:
  create_post_dir:
    command: "mkdir /opt/elasticbeanstalk/hooks/appdeploy/pre"
    ignoreErrors: true
files:
  # Files in the location /opt/elasticbeanstalk/hooks/appdeploy/pre/
  # are executed before the app is deployed and are executed in alphabetical order.
  /opt/elasticbeanstalk/hooks/appdeploy/pre/04configure_app_hosts.sh:
    mode: "000755"
    owner: root
    group: root
    content: |
      # The contents of this script creates and deploys the configuration settings needed by the resumeApp app.
      # settings are stored in S3.
      # Your EC2 instances need to be granted access to the S3 bucket specified.

      #!/usr/bin/env bash

      set -xe

      mkdir -p /app/resume/config

      aws s3 cp s3://friedrichsen-apartment-store1/env.prod /app/resume/config/.env

      export RESUME_APP_CONFIG_DIR="/app/resume/config"
