commands:
  create_post_dir:
    command: "mkdir /opt/elasticbeanstalk/hooks/appdeploy/pre"
    ignoreErrors: true
files:
  # Files in the location /opt/elasticbeanstalk/hooks/appdeploy/pre/
  # are executed before the app is deployed and are executed in alphabetical order.
  /opt/elasticbeanstalk/hooks/appdeploy/pre/04configure_app_hosts.sh:
    mode: "000755"
    owner: root
    group: root
    content: |
      # The content of this file is based on the content of /opt/elasticbeanstalk/hooks/appdeploy/pre/12_db_migration.sh

      #!/usr/bin/env bash

      set -xe

      mkdir -p /app/resume/config

      aws s3 cp s3://friedrichsen-apartment-store1/env.prod /app/resume/config/.env

      export RESUME_APP_CONFIG_DIR="/app/resume/config"
